.list-schedule-main {
    .card-body {


        .horizon-form {
            display: flex;
            width: 100%;
            align-items: center;

            .horizon-input {
                // display: flex;
                width: 25%;
                margin-right: 10px;

                label {
                    text-align: left;
                    display: flex;
                    // justify-content: center;
                    // align-items: center;
                    width: 40%;
                }

                .input-date-time {
                    height: 38px;
                }

                .room-select,
                .movie-select {
                    width: 100%;
                    z-index: 9999;
                }



                .button-filter {
                    float: right;

                    .filter-schedule-data {
                        margin-left: 20px;
                        background-color: #fff;
                        border: 1px solid #6777ef;
                        color: #6777ef;
                    }
                }
            }
        }

    }

    .MuiPaper-root-5 {
        z-index: 2;
    }
}