.modal-add-voucher {

    .modal-body-container {
        padding: 25px;

        .input-small {
            height: 32px;
        }

        .form-code-voucher {
            margin-top: 10px;


            .input-code-voucher {
                display: flex;
                gap: 40px;
            }

            button {
                height: 32px;
                font-size: 12px;
                width: 140px;
            }
        }

        .form-horizontal-voucher {
            margin-top: 10px;
            display: flex;
            gap: 30px;

            .form-timeStart-voucher,
            .form-timeEnd-voucher {
                .flatpickr-input {
                    height: 32px;
                }
            }



        }



    }

    .modal-footer-container {
        flex-direction: column;
        align-items: flex-start;

        .btn-ft {
            width: 100%;
        }
    }
}

.error-modal-container {
    margin-top: 10px;
    border: 1px dashed lightgray;
    padding: 1rem;
    width: 100%;

}

ul {
    list-style-position: inside;
    color: lightcoral;
}