.header-top-area {

    .header-top-menu {

        .nav-item {
            margin-top: 0px;

            span {

                font-size: 15px;

                .fa-user,
                .fa-sign-out {
                    margin-right: 8px;
                }

            }

        }
    }


}