.modal-Add-Staff {

    .modal-content {
        border: none !important;

        .editdetail {
            background-color: #fafafa !important;
            padding: 25px !important;
            height: 65px !important;
            border: none;

            .modal-title {
                font-size: 20px !important;
                font-weight: 700 !important;
            }

            .close {
                color: #000;
                font-weight: 700;
                font-size: 25px;
            }
        }

        .modal-body-container {
            border: none;
            background-color: #fafafa !important;
            padding: 25px 70px;

            .modal-playlist-body {
                display: flex;
                width: 100%;

                .error-container {
                    margin-top: 10px;
                    border: 1px dashed lightgray;
                    padding: 1rem;
                    width: 100%;
                }

                ul {
                    list-style-position: inside;
                    color: lightcoral;
                }

                .image-edit-playlist {
                    width: 50%;
                    position: relative;

                    img {
                        height: 70%;
                        position: absolute;
                        margin: auto;
                        top: 0;
                        left: 0px;
                        right: 50px;
                        bottom: 0;
                    }
                }

                .input-container {
                    width: 50%;
                    margin-left: auto;

                    .input-flex {
                        display: flex;
                        gap: 30px;
                        justify-content: right;

                        .gender-select,
                        .role-select,
                        .city-select,
                        .district-select,
                        .ward-select {
                            width: 100%;
                        }
                    }

                    .input-row {
                        margin-top: 20px;
                        display: flex;
                        gap: 20px;
                        flex-direction: column;
                        margin-left: auto;
                    }

                    .inputName {
                        padding: 7px;
                        margin-bottom: 10px;
                        width: 100%;
                    }

                    .description-playlist {
                        width: 100%;
                        height: 135px;
                    }

                    // .input-small {
                    //     width: 30%
                    // }
                }
            }
        }

        .modal-footer-container {
            border: none;
            background-color: #fafafa !important;
            padding: 25px 70px;

            .btn-save-edit {
                background-color: #6777ef;
                color: #fafafa;
                width: 100%;
                border-radius: 20px;
                font-weight: 700;
                margin-bottom: 20px;
            }
        }
    }




}