.list-food-main {
    .card-body {


        .horizon-form {
            display: flex;
            width: 100%;
            align-items: center;

            .horizon-input {
                display: flex;
                width: 30%;
                margin-right: 10px;

                label {
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                }

                .food-select {
                    width: 100%;
                    z-index: 9;
                }

                .filter-food-data {
                    margin-left: 20px;
                    background-color: #fff;
                    border: 1px solid #6777ef;
                    color: #6777ef;
                }
            }
        }

    }

    .MuiPaper-root-5 {
        z-index: 2;
    }
}