.dk-dashboard {

    .list-theater {
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
        max-height: 330px;


        .item-theater {
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }
        }


    }

    .list-theater::-webkit-scrollbar {
        width: 10px;
        background-color: rgba(0, 0, 0, 0);
    }

    .list-theater::-webkit-scrollbar-thumb {
        background: rgba(214, 214, 214, 0.5);
        border-radius: 5px;
    }

    .title-chart {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
}