.listFeedback-main {
    .filter-form {
        .form-filter {
            display: flex;
            gap: 50px;

            input {
                height: 30px;
            }

            .input-date {
                display: flex;
                gap: 20px;
            }

            .button-filter-container {

                .clear-feedback-data,
                .submit-feedback-data {

                    height: 30px;
                    font-size: 10px;
                }

                .clear-feedback-data {
                    margin-left: 20px;
                }
            }
        }
    }
}