.container-fluid {

    .error-container {
        margin-top: 10px;
        border: 1px dashed lightgray;
        padding: 1rem;
        width: 100%;
    }

    ul {
        list-style-position: inside;
        color: lightcoral;
    }

    .horizon-2-input {
        display: flex;
        gap: 30px;
        width: 100%;

        .horizon-input {
            width: 50%;
        }

        .horizon-checkbox {
            width: 50%;
        }

    }

    .horizon-form {
        display: flex;
        gap: 30px;
        width: 100%;

        .horizon-input {
            width: 25%;
        }
    }

    .horizon-form-2 {
        display: flex;
        gap: 30px;
        width: 100%;

        .horizon-input-brand {
            width: 70%;
        }

        .horizon-input-releaseTime {
            width: 30%;
        }
    }
}